body{
    background-color: #EEEEEE;
    font-family: Helvetica, Arial, Roboto;
}

a {
  text-decoration: none;
  color: red;
}

h1 {
  margin: 0;
}

h2{
margin: 0;
}

h3{
  margin: 0;
}

img{
  margin-right: 1000px;

}

#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
#header{
    background-color: #66CCFF;
    padding: 30px;
    color: white;
    text-align: center;
}


#content{
  padding: 10px;
}

#nav{
  width: 180px;
  float: left;
}

#nav ul{
  list-style-type: none;
  padding: 0;
}
.selected{
  font-weight: bold;
}

#main{
  width: 600px;
  float: right;
}

#footer{
  clear: both;
  padding: 10px;
  background-color: #999;
  color: white;
  text-align: right;
}
